# LexCorp / Backend
APP_VERSION=0.1.0
DEBUG=True
DATABASE_URL=postgresql+asyncpg://lexcorp:lexcorp@localhost:5432/lexcorp_sih
DATABASE_URL_SYNC=postgresql://lexcorp:lexcorp@localhost:5432/lexcorp_sih
CORS_ORIGINS=["http://localhost:5173"]
JWT_SECRET=super-secret-key-change-me
RPC_URL=http://127.0.0.1:8545
IPFS_GATEWAY=http://127.0.0.1:5001
