# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.venv/
__pycache__/

# Logs
*.log

# Environment
.env

# Hardhat
/contracts/cache/
/contracts/artifacts/
/contracts/typechain-types/

# Python
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.pyc
*.pyo

# Docker
postgres_data/
